
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:thadryan@protonmail.com">email</a></li>
					<li><a href="https://github.com/sweeney-th">github</a></li>
					<li><a href="https://www.linkedin.com/in/thadryan-sweeney-10b938a/">linkedin</a></li>					
                    <li><a href="https://twitter.com/ThadryanJS">twitter</a></li>
                    <li><a rel="me" href="https://fosstodon.org/@UnreliableNarrator"></a></li>
				</ul>
			</footer>
		</body>
	</html>
