<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/cv">CV & Portfolio</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
	</nav>
	<div class="container">

		{{ content }}

	</div><!-- /.container -->
	<!-- more stuff-->
	<footer>
		<ul>
			<li><a href="mailto:thadryan@protonmail.com">email</a></li>
			<li><a href="https://github.com/thadryanjs">github</a></li>
			<li><a href="https://www.linkedin.com/in/thadryan-sweeney-10b938a/">linkedin</a></li>
			<li><a href="https://twitter.com/ThadryanJS">twitter</a></li>
			<li><a
					href="https://scholar.google.com/citations?hl=en&view_op=list_works&authuser=1&gmla=AJsN-F7xwEFLRk0MzjE-Z_EKx-xHou7daOwtfnUXMdU0W2yKTKmLpyXHUYN2ebkfYmsAD11cooJ5X3atnJyUQ8IMBpVDamRh4w&user=KLdJrhgAAAAJ">scholar</a>
			</li>
			<li><a rel="me" href="https://fosstodon.org/@UnreliableNarrator"></a></li>
			<li><a rel="me" href="https://scholar.social/@thadryanjs"></a></li>
			<li><a rel="me" href="https://mastodon.art/@thadryanjs"></a></li>
			
		</ul>
	</footer>
</body>

</html>